/* --------NAV BAR--------- */
.nav-box {
  width: 100%;
  height: 100px;
  /* border: 1px solid white; */
  display: flex;
  align-items: center;
}

.logo {
  margin-left: 10rem;
  margin-right: 30rem;
  height: 8rem;
  width: auto;
}

.nav-list {
  display: flex;
  font-size: 1.5rem;
}

.nav-list>li {
  margin-left: 2rem;
  margin-right: 2rem;
}

.button-1 {
  border: 1px solid white;
  border-radius: 50px;
  height: 5.5rem;
  width: 15rem;
  margin-left: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.7rem;
}

.button-2 {
  border: 1px solid white;
  border-radius: 50px;
  height: 5.5rem;
  width: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.7rem;
  background-color: red;
}

/* <!-- ----------------first page------------- --> */
.heading-page-1 {
  font-size: 3rem;
  margin-top: 30px;
  margin-bottom: 30px;
}

.page-1-box {
  align-items: center;
  width: 60%;
}

.page-1-para {
  text-align: center;
  font-size: 1.2rem;
  color: beige;
  margin-top: 13px;
  margin-bottom: 13px;
}


/* ---------------------page 2---------------------- */

.box {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-top: 50px;
}

.page-1-image {
  width: 343px;
}

.text-box-page-1 {
  width: 343px;
}

.page-1-image-2 {
  width: 500px;
}

.page-2 {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.location-boxes-page-2 {
  width: 340px;
  height: 430px;
  background-color: rgba(31, 31, 31, 0.547);
  border-radius: 15px;
  padding: 12px;
}

.location-images {
  width: 315px;
  height: 290px;
  border-radius: 10px;
}

.branch-name-text-page-2 {
  font-size: 2rem;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
}

.address-text-page-2 {
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 10px;
}

.cell-text-page-2 {
  font-size: 1.2rem;
  text-align: center;
}

/* -----------------village-franchise------------ */
.page-5 {
  width: 100%;
  height: 65rem;
  background-color: rgb(0, 0, 0);
  padding-top: 5px;
}
.village-franchise {
  display: flex;
  gap: 20px;
  justify-content: start;
  align-items: center;
}
.get-direction {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
  border-radius: 40px;
  height: 50px;
  width: 150px;
}
.isl-text-1 {
  color: red;
  font-size: 2rem;
  margin-bottom: 7px;
}
.isl-text-2 {
  font-size: 3rem;
  margin-bottom: 15px;
}
.isl-text-3 {
  font-size: 1.5rem;
  margin: 5px;
}
.isl-text-4 {
  font-size: 1.5rem;
  margin: 5px;
  margin-bottom: 70px;
}

/* ===================footer================= */
footer {
  height: 450px;
  background-color: rgb(26, 26, 26);
  display: flex;
  gap: 100px;
  justify-content: center;
  padding-top: 70px;
}
.footer-first-box {
  width: 282px;
  font-size: 1.3rem;
}
.footer-logo {
  height: 50px;
  margin-bottom: 25px;
}
.headings {
  font-weight: 1000;
  font-size: 1.5rem;
  margin-bottom: 15px;
  margin-top: 15px;
}
.footer-second-box > ul > li {
  margin-bottom: 13px;
  margin-top: 13px;
}
.footer-links {
  margin-top: 10px;
  margin-bottom: 10px;
  color: azure;
}

.social-icon-circle {
  width: 35px;
  height: 35px;
  background-color: red;
  border-radius: 100%;
}
