/* --------NAV BAR--------- */
.nav-box {
  width: 100%;
  height: 100px;
  /* border: 1px solid white; */
  display: flex;
  align-items: center;
}
.logo {
  margin-left: 10rem;
  margin-right: 30rem;
  height: 8rem;
  width: auto;
}
.nav-list {
  display: flex;
  font-size: 1.5rem;
}
.nav-list > li {
  margin-left: 2rem;
  margin-right: 2rem;
}
.button-1 {
  border: 1px solid white;
  border-radius: 50px;
  height: 5.5rem;
  width: 15rem;
  margin-left: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.7rem;
}
.button-2 {
  border: 1px solid white;
  border-radius: 50px;
  height: 5.5rem;
  width: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.7rem;
  background-color: red;
}

/* ----------------PAGE 2----------------- */

.page-2 {
  width: 100%;
  height: 400px;
}
.text-1 {
  font-size: 5rem;
  text-align: center;
  margin-top: 5rem;
}
.text-2 {
  font-size: 5rem;
  text-align: center;
}
.text-3 {
  font-size: 2rem;
  text-align: center;
}
.three-images-div {
  display: flex;
  gap: 3rem;
  justify-content: center;
}
.three-images-div > div {
  height: 140px;
  width: 260px;
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 50px;
  margin-top: 40px;
}
.three-images-div > div > a > img {
  height: 90px;
  width: auto;
}
.three-images-div > div > p {
  text-align: center;
  margin-top: 50px;
  font-size: 2rem;
  border: 0.5px solid white;
  padding: 13px;
  border-radius: 50px;
}

.page-3 {
  background-color: rgb(40, 41, 43);
  height: 1250px;
  width: 100%;
  text-align: center;
}
.text-4 {
  font-size: 7rem;
}
.text-5 {
  font-size: 5rem;
}
.text-6 {
  font-size: 2rem;
}
.islamabad {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  gap: 170px;
}
.islamabad-address {
  text-align: start;
  /* border: 1px solid white; */
  width: 400px;
  height: 250px;
}
.isl-text-1 {
  color: red;
  font-size: 2rem;
  margin-bottom: 7px;
}
.isl-text-2 {
  font-size: 3rem;
  margin-bottom: 15px;
}
.isl-text-3 {
  font-size: 1.5rem;
  margin: 5px;
}
.isl-text-4 {
  font-size: 1.5rem;
  margin: 5px;
  margin-bottom: 70px;
}
.get-direction {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
  border-radius: 40px;
  height: 50px;
  width: 150px;
}

/* -----------PAGE 4--------------------- */

.exp-text-1 {
  font-size: 7rem;
  text-align: center;
  margin-bottom: 10px;
}
.exp-text-2 {
  font-size: 7rem;
  text-align: center;
  margin-bottom: 10px;
}
.exp-sec-1 {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 40px;
  margin-bottom: 20px;
}
.franchise-images {
  width: 350px;
  height: auto;
  text-align: center;
}
.franchise-text-1 {
  font-size: 2rem;
  color: red;
  margin-top: 10px;
  text-align: center;
}
.franchise-text-2 {
  font-size: 2rem;
  margin-top: 10px;
  text-align: center;
}
.franchise-text-3 {
  font-size: 2rem;
  margin-top: 10px;
  text-align: center;
}
.franchise-text-4 {
  font-size: 2rem;
  margin-top: 10px;
  text-align: center;
}
.franchise-get-direction {
  text-align: center;
  border: 1px solid white;
  border-radius: 40px;
  height: 50px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 100px;
  margin-top: 40px;
}

/* ------------page-5--------------------------
----------------village franchise ------------ */
.page-5 {
  width: 100%;
  height: 65rem;
  background-color: rgb(0, 0, 0);
  padding-top: 5px;
}
.village-franchise {
  display: flex;
  gap: 20px;
  justify-content: start;
  align-items: center;
}
.page-6 {
  width: 100%;
  height: 155rem;
  background-color: black;
}
.three-white-boxes {
  display: flex;
  gap: 30px;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 30px;
}
.white-box {
  height: 230px;
  width: 350px;
  background-color: #fff;
  border-radius: 5px;
  text-align: center;
}
.white-box-location {
  margin-top: 25px;
  margin-bottom: 10px;
}
.white-box-text-1 {
  color: red;
  margin-bottom: 10px;
  font-size: 1rem;
}
.white-box-text-2 {
  color: rgb(0, 0, 0);
  margin-bottom: 10px;
  font-size: 2rem;
}
.white-box-text-3 {
  color: rgb(0, 0, 0);
  margin-bottom: 10px;
  font-size: 2rem;
}
.white-box-text-4 {
  color: rgb(0, 0, 0);
  margin-bottom: 10px;
  font-size: 2rem;
}
.white-box-single {
  height: 230px;
  width: 350px;
  background-color: #fff;
  border-radius: 5px;
  text-align: center;
}

/* ------------------------social food ------------------- */
.five-images {
  display: flex;
  justify-content: center;
  gap: 20px;

}
.social-food-image {
  height: 250px;
  width: 250px;
  border-radius: 2px;
  margin-bottom: 60px;
}
/* ==========================footer start=================== */

footer{
  height: 450px;
  background-color: rgb(26, 26, 26);
  display: flex;
  gap: 100px;
  justify-content: center;
  padding-top: 70px;
}
.footer-first-box {
  width: 282px;
  font-size: 1.3rem;
}
.footer-logo {
  height: 50px;
  margin-bottom: 25px;
}
.headings {
  font-weight: 1000;
  font-size: 1.5rem;
  margin-bottom: 15px;
  margin-top: 15px;
}
.footer-second-box > ul > li {
  margin-bottom: 13px;
  margin-top: 13px;
}
.footer-links {
  margin-top: 10px;
  margin-bottom: 10px;
  color: azure;
}

.social-icon-circle {
  width: 35px;
  height: 35px;
  background-color: red;
  border-radius: 100%;
}
/* ==========================footer start=================== */

